<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CourseReVU App</title>
</head>
<body>

    <h1>Courses</h1>

    <ul>
        {{#each courseList}}
            <li> {{ name }} at {{ url }}</li>
        {{/each}}

    </ul>

    <form action="/courses" method="post">
        <input type="text" placeholder="course name" name="coursename">
        <input type="text" placeholder="course url" name="courseurl">
        <button>Submit</button>
    </form>

</body>
</html>